# Created by .ignore support plugin (hsz.mobi)
#配置文件
.idea/*
.project
.eslintrc
#js库
node_modules/*
dist/*
#编译后的文件
target/*
#打包后的文件
src/main/app/config.js
src/main/node/*
src/main/webapp/css
src/main/webapp/js
src/main/webapp/assets
src/main/webapp/lib
src/main/webapp/images
src/main/webapp/index.html
src/main/webapp/logo.png
src/main/webapp/user_default.png
src/main/webapp/timg.gif
src/main/webapp/login-bg.jpg
src/main/webapp/favicon.ico
src/main/webapp/config.js
src/main/webapp/main*
npm-debug.log*
esp-learningcard.iml
#其他
*.orig